.window {
    height: 100vh;
    width: 100%;
}

.button {
    width: 200px;
    margin: 10px;
}

.table {
    width: 100%;
}

#container {
    height: 300px;
    width: 800px;
    overflow: auto;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    font-size: medium;
    border: 2px dashed #f5f8fa;
}