.ranking-window {
    margin-left: 3em;
    margin-right: 3em;
    background: #BFCCD6;
    height: 100%;
}

.ranking-table {
    height: calc(100% - 3em);
}

.ranking-header {
    max-width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ranking-text-cell {
    font-size: .85rem;
}

.ranking-cell-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.ranking-cell-right {
    width: 100%;
    margin: auto;
}

.ranking-cell-tag-container {
    display: flex;
    flex-direction: row;
    float: right;
}

.ranking-cell-tag {
    float: right;
}

.bp3-table-no-wrap-text {
    height: 100%;
}